DATABASE_URI="postgresql://countcalories:password@localhost:5432/countcalories"
PAYLOAD_SECRET="genereer-met-openssl-rand-base64-32"
NEXT_PUBLIC_SERVER_URL="https://devcc.erikdeboer.nl"
GEMINI_API_KEY=""
